# Ignore virtual environment
venv/
env/
.venv/

# Python cache files
__pycache__
*.pyc
*.pyo
*.pyd

# Development and version control files
.git
.gitignore
.vscode/
.idea/

# Environment variables
.env
.env.*

# Other unnecessary files
*.log
*.csv
*.yml
README.md